$dark-pink: #B99692;
$light-pink: #FAE9E7;
$main-background: #F8F6F4;
$title-border-color: #E3B6B1;
$h1-font-color: #725A58;
$h1-font-family: Baskervville, serif;
$h1-font-weight: 400;
$h1-font-size-desktop: 80px;
$h1-font-size-mobile: 40px;
$describe-font-size-desktop: 18px;
$describe-font-size-mobile: 16px;
$describe-font-family: 'Avenir';
$describe-font-color: #191919;
$describe-font-weight: 300;
$icon-gray: #898887;