@use './variable' as var;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  #desktop-header {
    width: 100%;
    height: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var.$main-background;
    font-family: var.$h1-font-family;
    font-size: var.$describe-font-size-desktop;

    div {
      position: relative;
      padding: 0 2rem;

      &::after {
        content: "";
        position: absolute;
        top: .2rem;
        right: 0;
        height: 70%;
        border-left: 1px solid var.$dark-pink;
      }

      &:nth-of-type(4)::after, &:last-child::after {
        content: none;
      }

      a {
        text-decoration: none;
        color: var.$h1-font-color;
        font-weight: var.$h1-font-weight;

        &:visited {
          color: var.$h1-font-color;
        }

        &:hover {
          text-decoration: underline;
          text-underline-offset: 3px;
          text-decoration-thickness: 1px;
          text-decoration-color: var.$h1-font-color;
        }
      }
    }
  }

  #mobile-header {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var.$main-background;
    padding: 0 1rem;
    font-size: var.$describe-font-size-mobile;
  }
}

@media (max-width: 1090px) {
  header {
    #desktop-header {
      display: none;
    }

    #mobile-header {
      display: flex;
    }
  }
}